body{
    display: flex;

    flex-flow: column wrap;
}

div{
    flex-grow: 1;
    width: 400px;
    height: 300px;
    border: 2px solid black ;
    background-color: cornflowerblue;
    margin: 1rem;
}

#test1{
    order: 1;
}

#test2{
    order: 2;
}