html, body, main, footer, section, button, svg, h1, p{
    padding: 0;
    border: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: serif;
}

button{

    background-color: transparent;
    font-size: inherit;
    text-align: center;
}

body{

    display: flex;

    justify-content: center;
    align-items: center;

    flex-flow: row wrap;

    width: 94%;

    margin: 0 auto;
}

#atf{

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    font-size: 4rem;

    width: 100%;
    height: 100vh;

    color: gray;

}

footer{

    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 20vh;

    border-top: .2rem solid gray;
}

footer button{

    padding: 1rem;
    width: 12rem;
    /* border: 2px solid hotpink; */
}

/* footer:last-child{

    font-family: sans-serif;
} */

footer section{

    color: gray;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;

    width: 30%;
}

#resetb{

    font-family: sans-serif;

    color: deepskyblue;
}

#saveb{

    font-family: sans-serif;

    color: white;
    background-color: deepskyblue;
    border: 1px solid darkblue;

    border-radius: 8px;

}

#saveb:active{

    background-color: dodgerblue;
}

#footspin{

    animation-name: savespin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;

    width: 3rem;
    height: 3rem;

    margin: 1rem;

    fill: currentColor;
}

@keyframes savespin{

    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}