header{
    background-color: salmon;
}

main{
    background-color: cyan;
}

#one{
    background-color: yellow;
}

#two{
    background-color: pink;
}

footer{
    background-color: mediumspringgreen;
}