html, body, nav, article{

    padding: 0;
    border: 0;
    margin: 0;

    box-sizing: border-box;
}

body{

    margin: 0 auto;

    width: 60%;
}

nav{

    float: left;

    width: 20%;

    /* formatting */

    border: 2px solid red;
}

article{

    float: right;

    width: 75%;

    /* formatting */

    border: 2px solid black;
}