.c1 {
    background-color: royalblue;
}

.c2 {
    background-color: cadetblue;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: blanchedalmond;
}

.c5 {
    background-color: aqua;
}

.c6 {
    background-color: skyblue;
}

.c7{
    background-color: wheat;
}

html{
    font-family: sans-serif;
    color: salmon;
}