html, body, div, footer{

    padding: 0;
    border: 0;
    margin: 0;

    box-sizing: border-box;

}

div{
    width: 100%;
    height: 5000px;
    background-color: burlywood;
    border: 1px solid black;
}

footer{

    position: fixed;

    bottom: 0;


    background-color: salmon;
    border: 3px solid red;

    width: 100%;
    padding: 20px;

    text-align: center;
    font-family: sans-serif;
}